@charset "UTF-8";

.header_logo_main {
    max-width: 400px;
    width: 80%;
    margin: 0px auto;
}
.about_text{
    padding: 20px 10px;
}
.about_text p{
    line-height: 2.5em;
    text-align: center;
    font-size: 14px;
}

/*Member*/
.about_member {
  margin:20px 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:1fr 1fr;
}
.item {
  padding: 10px;
}
.about_member_title {
  grid-column: 1 / 3;
  text-align: center;
}
.member_part{
  font-size: 20px;
  margin-bottom: 5px;
}
.member_part_bottom{
    width: 75%;
    margin:0 auto;
    position: relative;
}
.member_part_center{
  height: 2px;
}
.member_part_box_left{
    position: absolute;
    bottom: -5px;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}
.member_part_box_right{
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}
.member_name{
  margin: 7px 0 4px 0;
  font-size: 24px;
}
.about_member_image{
  max-width: 300px;
      margin: 0 0 0 auto;
}
.member_text{
    margin:0px;
    margin-top: 14px;
     table-layout:auto;
     color: #364b5f;
}
.member_text th{
  margin:0px;
     padding:0;
     -moz-text-align-last: justify;
     text-align-last: justify;
     text-justify:inter-ideograph;
     border:none;
}
.member_text th{
   padding: 5px;
   text-align: justify;
}
.table_icon{
  padding: 0 5px;
  font-size: 10px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

/*History*/
.about_history{
    position: relative;
    margin:20px 30px;
}
.about_history_tree{
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #192a51;
    left: 20%;
}
.box_top{
    width: 12px;
    height: 12px;
    margin-left: -5px;
    background-color: #192a51;
    transform:rotate(-45deg);
}
.box_bottom{
    width: 12px;
    height: 12px;
    margin-left: -5px;
    background-color: #192a51;
    transform:rotate(-45deg);
    position: absolute;
    bottom:0px;
}
.about_history_main{
    padding: 35px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about_history_year{
    width: 20%;
    min-width: 144px;
    background-color: #192a51;
    color: #fefbf1;
    font-size: 20px;
    padding: 10px 0px;
    overflow: hidden;
}
.about_history_year p{
    padding-left: 38px;
    text-align: center;
}
.about_history_event{
    width: 80%;
    float:right;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about_history_event ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid #333;
    margin-left:20px;
}
.event_title{
    font-size: 20px;
    margin-left: 40px;
}
.event_date{
    position: absolute;
    right: 15px;
    bottom:0px;
}

@media screen and (max-width:1130px) {
}/*@media screen and (max-width:1130px)*/

@media screen and (max-width:789px) {

  .about_text p{
      line-height: 1.5em;
      text-align: left;
  }
  .about_member{
    display: block;
       margin: 0px;
  }
  .about_member_image{
        margin:0 auto;
  }
  .member_text {
    margin-top: 0px;
    margin: 0 auto 50px auto;
}
.member_text th {
    width: 85px;
}

.event_title {
    font-size: 20px;
    margin-left: 10px;
}
.about_history_year p {
    padding-left: 0px;
    text-align: center;
}
.about_history_tree {
    left: 0%;
}
.about_history_event {
    width: 100%;
}
.about_history_event ul {

}
  }/*@media screen and (max-width:789px)*/
