@charset "UTF-8";

/*header*/
header{
	position:fixed;
  left:0;
  z-index:134;
  width:100%;
	background: rgba(254,251,241,0.9);
}
.header_top {
    height: 15px;
    background-color: #192a51;
}

.header_nav {
    max-width: 1120px;
    margin: 10px auto;
}
/*header 上部menu*/
.header_menu_sub{
    width: 100%;
}
.header_logo {
	width: 64px;
	float: left;
	margin-top: -15px;
	margin-left: 10px;
        color: #192a51;
}
/*header メインメニュー*/
.header_menu_main {
    width: 620px;
    margin:0 auto;
}

.header_menu_main ul {
    display: flex;
    justify-content: space-between;
		margin-top: 24px;
		margin-bottom: 22px;
}

.header_menu_main li a {
    position: relative;
    display: inline-block;
    transition: .3s;
    margin-top:5px;
    font-size: 17px;
    letter-spacing: 0.2em;
    padding:0 10px;
    color: #192a51;
}

.header_menu_main li a::after {
    position: absolute;
    bottom: .3em;
		left: 0;
    top: 22px;
    content: '';
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: .3s;
}
/*header メインメニュー2階層目*/
.header_menu_main li ul {
   display: none;
   background-color: #fefbf1;
   border: solid 2.5px #192a51;
   margin: 7px;
   padding-bottom: 4px;
   position: absolute;
}
.header_menu_main li:hover ul {
   display: block;
}
.header_menu_main li ul li {
    width: 100px;
    padding:3px 0 5px 0;
}
.header_menu_main li ul li a{
    color: #192a51;
}
/*footer*/
.footer_bottom{
}
.footer_sns ul {
	margin: 20px auto 2px;
	padding: 10px;
	display: flex;
	width: 231px;
}
.footer_sns ul li {
    width: 45px;
    height: 45px;
    text-align: center;
    transform: rotate(-45deg);
    margin: 13px 15px;
}
.footer_sns ul li a {
    font-size: 10px;
    display: inline-block;
    transform: rotate(45deg);
    margin: 12.5px 0px 0px -2px;
    color: #fefbf1;
}
.footer_copy{
	background-color: #192a51;
	color: #fefbf1;
	text-align: center;
	margin-top:auto;
}
.footer_copy p{
    padding:25px 10px 23px 10px;
    margin-top: -64px;
}
.footer_square_left li{
    width: 36px;
    height: 32px;
    float:left;
}
.footer_square_right li{
    width: 36px;
    height: 32px;
    float:right;
}
.square_down{
    margin-top:32px;

}
/*一覧表示テーブル*/
.list{
    width:100%;
    margin:20px auto 50px auto;
    border-spacing: 0px;
}
.list tr:hover{
    background-color: #a9afbb;
}
.list th{
    background-color: #192a51;
    color: #fefbf1;
    padding:15px;
}
.list td{
    padding:15px;
    border-bottom: solid 2px #192a51;
    text-align: center;
}
.list td a{
    text-decoration: none;
}
.list_menu{
    font-size: 20px;
}
.list .list_title{
    text-align: left;
}
#form_date{
    width: 200px;
}
.input_ja{
    border: 2px solid #8b4957;
    background-color: #efd7d7;
}
.input_eng{
    border: 2px solid #417574;
    background-color: #c1d8de;
}
.copy_btn{
    margin-top: -28px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: 7%;
    display: flex;
    justify-content: center;
    background-color: #2a4866;
    color: #fdfdfd;
    width: 154px;
    padding: 7px 19px;
    font-size: 14px;
    border-radius: 22px;
}
.detail_btn a {
    width: 42px;
    display: inline-block;
    padding: 6px 1px 6px 3px;
    background-color: #2a4866;
    border-radius: 22px;
    color: #fefbf1;
}

/*詳細画面*/
.detail-content {
    z-index:2;
    padding:20px;
    background:#fefbf1;
}
 
.detail-content p {
    margin:0;
    padding:0;
}
.detail_list{
        margin-top:20px;
}
.detail-content h3{
    color: #fefbf1;
    font-size: 16px;
    font-weight: normal;
    padding:10px;
    padding-left: 23px;
}
.table_detail{
    width: 100%;
    margin:0;
    border-collapse: collapse;
    border-spacing: 0;
}
.table_detail tr{
    margin:0;
}
.table_detail th{
    font-size: 14px;
    width:150px; 
    padding:13px;
    margin:0;
}
.table_detail td{
    margin:0;
    padding-left:15px;
}

.table_detail_ja{
    border:solid 2px #6c3d55;
}
.table_detail_ja tr{
    border:solid 1px #6c3d55;
}
.table_detail_ja th{
    border-right:solid 1px #6c3d55;
    border-bottom:solid 1px #6c3d55;
}
.table_detail_ja td{
    border-bottom:solid 1px #6c3d55;
}

.table_detail_eng{
    border:solid 2px #335c68;
}
.table_detail_eng tr{
    border:solid 1px #335c68;
}
.table_detail_eng th{
    border-right:solid 1px #335c68;
    border-bottom:solid 1px #335c68;
}
.table_detail_eng td{
    border-bottom:solid 1px #335c68;
}

@media screen and (max-width:1130px) {
    .header_nav {
        margin-left: 10px;
        margin-right: 10px;
    }
		.header_menu_lng ul {
    margin: 3px 20px 0px;
}
}/*@media screen and (max-width:1130px)*/

@media screen and (max-width:789px) {
    .header_top{
        margin-bottom: 18px;
    } 
}/*@media screen and (max-width:789px)*/

/* drawer menu */
.drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
		width: 280px;
    height: 100%;
    padding: 120px 0;
		background: rgba(254,251,241,0.9);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}

.drawer-menu li {
    text-align: center;
}

.drawer-menu li a {
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #192a51;
    -webkit-transition: all .8s;
    transition: all .8s;
		letter-spacing: 0.3em;
}
/* checkbox */
.check {
    display: none;
}

/* menu button - label tag */
.menu-btn {
    position: fixed;
    display: block;
    top: 29px;
    right: 26px;
    display: block;
    width: 32px;
    height: 27px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 33px;
    height: 2px;
    background: #192a51;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.bar.middle {
    top: 11px;
    opacity: 1;
}

.bar.bottom {
    top: 22px;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

.menu-btn__text {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    color: #192a51;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu-btn:hover .menu-btn__text {
    color: #192a51;
}

.close-menu {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}

/* checked */
.check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    z-index: 2;
}

.check:checked ~ .contents {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
    visibility: hidden;
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
    width: 43px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
	width: 43px;
	top: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    visibility: visible;
    opacity: 1;
    z-index: 3;
}
