@charset "UTF-8";

/*border*/
.member_part_bottom{
    width: 97%;
    margin:0 auto;
    position: relative;
}
.member_part_center{
  height: 2px;
  margin-bottom: 3px;
}
.member_part_box_left{
    position: absolute;
    bottom: -5px;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}
.member_part_box_right{
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}
.blog_main{
    margin:20px 30px 30px;
}
.blog_text{
    margin-top:20px;
    font-size: 14px;
    line-height: 1.8em;
}
figure {
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin: 28px 40px 44px;
    transform: rotate(-45deg);
    z-index: 0;
}
figure img{
  transform: rotate(45deg);
  width: 256px;
  margin: -39px;
  object-fit: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    opacity: 0.8;
    transition: 0.3s;
}
figcaption {
  position: absolute;
  padding: 10px;
  bottom: -158px;
  left: 10px;
  z-index: 10;
  width: 137px;
  height: 137px;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fefbf1;
}
figcaption h3{
  word-wrap: break-word;
　overflow-wrap: break-word;
  padding-top: 40%;
  padding-left: 11px;
  margin-right: -41px;
  transform: rotate(45deg);
  font-size: 14px;
}
figcaption p{
position: absolute;
font-size: 14px;
bottom:10px;
}
figure:hover figcaption {
    bottom: 10px;
}
.blog_date {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width:1130px) {
.backnumber_photo ul {
    max-width: 700px;
    margin: 0 auto;
}
.backnumber_moer{
    width: 51.5%;
}
}/*@media screen and (max-width:1130px)*/
@media screen and (max-width:789px) {
.backnumber_photo ul {
    margin-bottom: 10px;
}
.blog_text p{
  font-size: 14px;
}
figcaption {
  bottom: 10px;
}
.backnumber_moer{
    width: 54%;
}
.blog_title {
    font-size: 24px;
}
.blog_main{
    margin:20px 17px 30px;
}
.blog_text{
    font-size: 14px;
    line-height: 1.8em;
}
  }/*@media screen and (max-width:789px)*/

/*ブログリスト*/
.header_menu_main li a:hover::after {
      bottom: 0;
      opacity: 1;
}
.blog_list li{
  position: relative;
  padding-left: 40%;
  padding-top: 17px;
  transition-duration: 0.3s;
}
.box_small{
      margin: 22px auto;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
}
  .box_middle{
      margin: 10px auto;
      width: 35px;
      height: 35px;
      transform: rotate(45deg);
}
  .box_main{
      margin: 56px auto;
      width: 230px;
      height: 230px;
      transform: rotate(45deg);
}
  .box_main img{
      transform: rotate(-45deg);
      width: 330px;
      margin: -51px;
      object-fit: cover;
}
.blog_cap{
  position: absolute;
  width: 50%;
  bottom: 110px;
  left: 138px;
  z-index: 50;
}
.blog_cap .blog_title {
    text-align:left;
    font-size: 28px;
    padding-top: 10px;
    margin: 0 39px;
    padding-bottom: 5px;
}
.blog_cap .blog_date {
    margin-top: 6px;
    margin-left: 45px;
    font-size: 14px;
    text-align: left;
}
.blog_image{
  overflow: hidden;
}
@media screen and (max-width:789px) {
  .blog_list li {
      padding-left: 0;
  }
  .blog_cap {
    width: 280px;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .blog_cap .blog_title {
    text-align: center;
    font-size: 20px;
    color: #fefbf1;
  }
  .blog_cap .blog_date {
    text-align: center;
    margin-left:0;
    color: #fefbf1;
    }
  .member_part_bottom .bg_red{
    background-color: #ebbebc;
  }
  .member_part_bottom .bg_blue{
    background-color: #a7cabb;
  }
  .member_part_bottom .bg_green{
    background-color: #aacdc2;
  }
  .member_part_bottom .bg_yellow{
    background-color: #e8d9a3;
  }

}
