<!DOCTYPE html>

<html lang="ja">
<head>

<title>未来コライ|miraikorai</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="未来コライは、混声のバーバーショップを歌うカルテットグループです。">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/color_style.css" />
<link rel="stylesheet" href="../css/header_footer.css" />
<link rel="stylesheet" href="../css/top_style.css" />
<link rel="stylesheet" href="style.css" />
<script src="../js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--web icon-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script type="text/javascript">
		$(function(){
				$(".loading").load("../loading.html");
				$(".footer_bottom").load("../footer.html");
		})
</script>
</head>
<body>
<div id="head">
	<div id="head-in"><h1>CONTACT - postmail</h1></div>
</div>
<div id="body">
<h2>お問い合わせフォーム &gt; 送信完了</h2>
<div id="form-tbl">
<p class="msg">
	ご利用ありがとうございました。<br>
	メール送信は正常に完了しました。
</p>
<p class="btn">
	<input type="button" value="トップに戻る" onclick="window.open('!back!','_top')">
</p>
</div>
</div>
</body>
</html>
