<!DOCTYPE html>

<html lang="ja">
<head>

<title>未来コライ|miraikorai</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="未来コライは、混声のバーバーショップを歌うカルテットグループです。">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/color_style.css" />
<link rel="stylesheet" href="../css/header_footer.css" />
<link rel="stylesheet" href="../css/top_style.css" />
<link rel="stylesheet" href="style.css" />
<script src="../js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--web icon-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script type="text/javascript">
		$(function(){
				$(".loading").load("../loading.html");
				$("header").load("../header.html");
				$(".footer_bottom").load("../footer.html");
		})
</script>
</head>


<body>

	<div class="wrapper">
		<div class="loading"></div>
		<header></header>
			<div class="main_contents">

				<div class="title_contents bg_navy">
						<h1 class="pege_title">CONTACT</h1>
				</div>

<form action="./postmail.cgi" method="post">
<input type="hidden" name="need" value="name email 問合せ種別">
<input type="hidden" name="sort" value="name email 問合せ種別 メッセージ">
<input type="hidden" name="match" value="email email2">
<div id="form-tbl">
<table summary="問合せフォーム" id="form">
<tr>
	<th>お名前</th>
	<td><input type="text" name="name"　class="textlines"></td>
</tr><tr>
	<th>メールアドレス</th>
	<td>
		<input type="text" name="email"><br>
		<p class="form_comment">確認の為、再度ご入力ください。</p>
		<input type="text" name="email2">
	</td>
</tr>
<tr>
	<th>お問合せ種別</th>
	<td class="button-radio">
		<input id="bar1" type="radio" name="問合せ種別" value="ご相談" checked>
		<label for="bar1">ご相談</label>
		<input id="bar2" type="radio" name="問合せ種別" value="ご質問">
		<label for="bar2">ご質問</label>
		<input id="bar3" type="radio" name="問合せ種別" value="その他">
		<label for="bar3">その他</label>
</tr>
<tr>
	<th>お問合せ内容</th>
	<td>
<textarea name="メッセージ" type="text" class="textlines_03"　wrap="soft"></textarea>
　　　　<p class="form_comment_02">ご記入いただいた個人情報は、お問い合わせへの対応および確認のためのみに利用します。</p>
	</td>
</tr>
</table>

<div class="btn">
		<!-- <div class="button"><a href="#">予約する</a></div> -->
	  <input type="submit" value="内容を確認する">

	<!-- <input type="reset" value="リセット"> -->
</p>
</form>
</div>
</div>

        </div><!--main_contets-->

<div class="footer_bottom"></div>
    </div><!--wrapper-->

</body>
</html>
