#form-tbl{

}
table, tbody, tr, th, td {
	text-align: left;
}
table{
	width: 90%;
	margin:65px auto 15px;
}
th{
	width: 133px;
	padding: 10px;
	font-size: 18px;
	text-align: right;
	vertical-align: top;
}
td{
}
input{
	-webkit-appearance: none;
	border: 2px solid #8291ab;
	padding: 0.5em;
	margin-bottom: 37px;
	background-color: #dedede;
	font-size: 1em;
	line-height: 1.2;
	width: 91%;
	color: #192c50;
	transition: .3s
}
.textlines_03{
	width: 91%;
	height: 150px;
	border: 2px solid #8291ab;
	padding: 0.5em;
	margin-bottom: -8px;
	background-color: #dedede;
	font-size: 1em;
	line-height: 1.2;
	vertical-align: top;
	color: #192c50;
	resize: none;
	transition: .3s;
	-webkit-appearance: none;
}
input:focus {
    outline: none;
		border: 2px solid #23314c;
		background-color: #fdfdfd;
}
.form_comment{
	font-size: 14px;
	margin-top: -28px;
  margin-bottom: 3px;
}
.form_comment_02{
	font-size: 14px;
  margin-bottom: 30px;
}
.button-radio{
	padding-bottom: 12px;
}
.button-radio input[type="radio"] {
  display:none;
}

.button-radio label {
	display: inline-block;
	color: #2a4866;
        margin-top: 5px;
        padding: 5px 19px;
	font-size: 14px;
	border: 2px solid #2a4866;
	border-radius: 22px;
	transition: .3s;
}
.button-radio label:before {
	font-family: "Font Awesome 5 Free";
	content:"\f0c8";
	margin-right: 5px;
}

.button-radio input[type="radio"]:checked + label {
  background-color:#2a4866;
	color: #fdfdfd;
}
.button-radio input[type="radio"]:checked + label:before{
	content:"\f14a";
}
.btn{
    width: 282px;
    margin: 0 auto;
}
input[type="submit"] {
	width: 282px;
	display: inline-block;
	padding: 8px 13px;
	background-color: #192a51;
	border: solid 3px #192a51;
	border-radius: 22px;
	font-family: '07LogoTypeGothic7';
	color: #fefbf1;
	transition: 0.3s;
}
input[type="submit"]:hover {
	background-color: #fefbf1;
	color: #192a51;
	transition: 0.3s;
}
@media screen and (max-width:789px) {
	th {
    padding: 3px 2px;
    text-align: left;
  }
	input {
    margin-bottom: 13px;
  }
	.form_comment {
    margin-top: -5px;
  }
	.button-radio label {
    margin-bottom: 5px;
    padding: 8px 19px;
    text-align: center;
    width: 148px;
	 }
}
